.slidetext-admin-header {
    margin: -0.4em -0.8em -5px -0.8em;
    padding: 10px;
    background-color: #234567;
    color: #fff;
    text-shadow: #000 0 1px 3px;
}
.slidetext-admin-header span {
    font-size:20px;
    vertical-align: top;
    padding-top: 3px;
    display: inline-block;
}
.slidetext-admin-subheader {
    margin: -0.4em -0.8em 5px -0.8em;
    padding: 5px 9px;
    background-color: #ddd;
    color: #111;
    text-shadow: #fff 0 1px 2px;
}
.slidetext-admin-li {
    background: #eee;
}
.slidetext-admin-li .select{
    width: 78px;
    float: left;
    margin-right: 3px;
}
.slidetext-admin-default {
    color: #aaa;
    padding-left: 6px;
}