/*
    slideText CSS styles
*/

.slidetext {
    cursor: pointer;
    margin-bottom: 5px;
    color: #000;
    display: inline-block;
}

.slidetext .question {
    display: inline-block;
    position: relative;
}
.slidetext .question h3 {
    color: #000;
}

.slidetext .question .toggle-arrow {
    position: absolute;
    top: calc(50% - 5px);
    right: -15px;
    height: 0;
    width: 0;
    border-left: 7px solid #888;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.slidetext .question .toggle-arrow.opened {
    transform: rotate(90deg);
    transition: transform 0.4s;
}

.slidetext .answere {
    display: none;
    color: #666;
}

/* NOTICE message */
.slidetext-notice {
    display: table;
    margin: 2px 0;
    border: 1px solid #777;
    background-color: #eee;
}
.slidetext-notice div {
    display: table-cell;
    padding: 2px 6px;
    color: white;
    background-color: #777;
    height: inherit;
}
.slidetext-notice span {
    display: table-cell;
    padding: 2px 4px;
    color: #777;
}

/* SUCCESS message */
.slidetext-success {
    display: table;
    margin: 2px 0;
    border: 1px solid #2a0;
    background-color: #efe;
}
.slidetext-success div {
    display: table-cell;
    padding: 2px 6px;
    color: white;
    background-color: #2a0;
    height: inherit;
}
.slidetext-success span {
    display: table-cell;
    padding: 2px 4px;
    color: #2a0;
}

/* ERROR message */
.slidetext-error {
    display: table;
    margin: 2px 0;
    border: 1px solid #f33;
    background-color: #fee;
}
.slidetext-error div {
    display: table-cell;
    padding: 2px 6px;
    color: white;
    background-color: #f33;
    height: inherit;
}
.slidetext-error span {
    display: table-cell;
    padding: 2px 4px;
    color: #f33;
}