/*
    slideText CSS styles
*/

.slideText {
    cursor: pointer;
    margin-bottom: 5px;
    color: #000;
    display: inline-block;
}

.slideText .question {
    display: inline-block;
    position: relative;
}
.slideText .question h3 {
    color: #000;
}

.slideText .question:after {
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    right: -15px;
    height: 0;
    width: 0;
    border-left: 7px solid #888;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.slideText .question.opened:after {
    transform: rotate(90deg);
    transition: transform 0.4s;
}

.slideText .answere {
    display: none;
    color: #666;
}

.slideTextError {
    display: table;
    margin: 2px 0;
    border: 1px solid #f33;
    background-color: #fee;
}
.slideTextError div {
    display: table-cell;
    padding: 2px 6px;
    color: white;
    background-color: #f33;
    height: inherit;
}
.slideTextError span {
    display: table-cell;
    padding: 2px 4px;
    color: #f33;
}